# tasks file for mailcatcher
---
- name: Load a variable file based on the OS type, or a default if not found.
  include_vars: "{{ lookup('first_found', possible_files) }}"
  vars:
    possible_files:
      - "../vars/{{ ansible_distribution_release }}.yml"
      - ..vars/default.yml 
- include: install.yml
  tags:
    - configuration
    - mailcatcher
    - mailcatcher-install

- include: user.yml
  tags:
    - configuration
    - mailcatcher
    - mailcatcher-user

- include: service-upstart.yml
  when: ansible_service_mgr != 'systemd'
  tags:
    - configuration
    - mailcatcher
    - mailcatcher-service
    - mailcatcher-service-upstart

- include: service-systemd.yml
  when: ansible_service_mgr == 'systemd'
  tags:
    - configuration
    - mailcatcher
    - mailcatcher-service
    - mailcatcher-service-systemd

- name: start and enable service
  service:
    name: mailcatcher
    state: "{{ service_default_state | default('started') }}"
    enabled: "{{ service_default_enabled | default(true) | bool }}"
  tags:
    - configuration
    - mailcatcher
    - mailcatcher-start-enable-service
